{% extends "layout.html" %} {% block page_title %} Start page example {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Get permission to do work on a river
      </h1>

      <h2 class="heading-medium">Use this service:</h2>

      <ul class="list list-bullet">
        <li>check if you need permit for your activity</li>
        <li>find the cost of getting permission</li>
        <li>find the conditions for your activty</li>
      </ul>

      <br>

      <p>Checking takes around 5 minutes.</p>

      <br>

      <p>
        <a class="button button-start" href="/questions/emergency" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
