{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="#">Questions</a>
      </li>
      <li>
        <a href="#">removing silt</a>
      </li>
      <li>
        <a href="#">are you dredging?</a>
      </li>  
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/remove_sand_silt/what_you_removing" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Are you dredging?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Are you dredging?
          </legend>

          <div class="form-group">
            <label for="are_you_dredging_1" class="block-label">
              <input id="are_you_dredging_1" type="radio" name="are_you_dredging" value="yes">
              Yes
            </label>

            <label for="are_you_dredging_2" class="block-label">
              <input id="are_you_dredging_2" type="radio" name="are_you_dredging" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}