{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        Questions
      </li>
      <li>
        building
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/repair_maintain" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Are you building a new structure on, in, next to, or across a river?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Are you building a new structure on, in, next to, or across a river?
          </legend>

          <div class="form-group">
            <label for="building-1" class="block-label">
              <input type="radio" id="building-1" name="building" value="yes">
              Yes
            </label>

            <label for="building-2" class="block-label">
              <input type="radio" id="building-2" name="building" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}