{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="#">Questions</a>
      </li>
      <li>
        <a href="#">draining river</a>
      </li>
      <li>
        <a href="#">dewatering</a>
      </li>  
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/result" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          How big is the stretch of river you are dewatering?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            How big is the stretch of river you are dewatering?
          </legend>

          <div class="form-group">

            <label for="dewatering_size_1" class="block-label">
              <input id="dewatering_size_1" type="radio" name="dewatering_size" value="exemption_7">
              Under 10m
            </label>

            <label for="dewatering_size_2" class="block-label">
              <input id="dewatering_size_2" type="radio" name="dewatering_size" value="permit_26">
              Between 10m and 20m
            </label>

            <p class="form-block">or</p>

            <label for="dewatering_size_3" class="block-label">
              <input id="dewatering_size_3" type="radio" name="dewatering_size" value="bespoke_permit">
              More than 20m
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}