{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="#">Questions</a>
      </li>
      <li>
        <a href="#">cables, service crossings</a>
      </li>
      <li>
        <a href="#">On new or existing thing?</a>
      </li> 
      <li>
        <a href="#">On new thing</a>
      </li>    
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/remove_sand_silt" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Are the cables or services being installed under the riverbed, in the river itself, or above the river?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Are the cables or services being installed under the riverbed, in the river itself, or above the river?
          </legend>

          <div class="form-group">

            <label for="on_new_thing_2" class="block-label">
              <input id="on_new_thing_2" type="radio" name="on_new_thing" value="exemption_3">
              Within or below the river
            </label>

            <label for="on_new_thing_3" class="block-label">
              <input id="on_new_thing_3" type="radio" name="on_new_thing" value="exemption_2">
              Above the river
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}