{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Permission to do work on a river</h1>

      <p>
        This is a prototype for usability testing only.
      </p>

      <h2 class="heading-medium">Pages</h2>
      <ul class="list list-bullet">
        <li>
          <a href="/questions/index">Start page</a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}